.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.banner-bg {
  background-color: #f7f0f0bd;
}

.bg {
  background-color: #ff451b;
}

.text {
  color: #ff451b;
}
body{
  background-color: rgb(65, 70, 75);
}
/* // orange: "#ff451b",
// green: "#7cfc00",
// yellow: "#ffff00",
// blue: "#ff799f",
// pink: "#ff799f", */

.font {
  font-family: 'Lobster', cursive;
  font-family: 'Satisfy', cursive;

}


